*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(44, 44, 44);
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
   
    width: 400px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 30px;

}
.card p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.card span{
    font-weight: 600;
    color: blue
}
.outer{
    height: 15px;
    width: 100%;
    background-color: rgb(67, 66, 65);
    border-radius: 15px;
}
.inner{
    height: 100%;
    width: 0%;
    background-color: aqua;
    border-radius: 15px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom h2{
    font-size: 60px;
}
.bottom button{
    font-weight: 600;
    font-size: 18px;
    background-color: green;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    border: none;
}
.bottom button:active{
    scale: 0.95;
}